.marquee_image {
    width: 100px;
    height: 70px;
}

.marqueee_text_image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.who_are_we_text {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Poppins';
    font-size: 97px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -7.76px;
    text-transform: capitalize;
}

.slider_container_who_we_are {
    margin-top: 20px;
}

.yalla_about_text {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    text-align: justify;
}

